# ignore Apple cruft
.DS_Store
# ignore VS Code settings file
*.code-workspace
# ignore notes files
*plan*.md
# ignore the node modules
node_modules/
# ignore the initproofs.js file for Lode
initproofs.js
# ignore the following folders that developers use to store testing documents
/*299*
/*pima*
/test-docs
studentfiles299
