# ignore Apple cruft
.DS_Store
# ignore vscode cruft
*.code-workspace
# ignore the node modules
node_modules/

# ignore lots of stuff for local customizations

# ignore all html and markdown files in the root folder ...
/*.html
/*.md
# ... except for the readme file
!README.md
# ignore the following folders from math299
/math299
/math
/help